* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #b7e4c7;
  color:rgb(237, 233, 233);
  padding: 1rem;
  overflow-x: hidden;
}

/* Header Styles */
.header-container {
  background-color:#52b788 ;
  border-radius: 1rem;
  color: rgb(237, 233, 233);
  padding: 1.25em;
  text-align: center;
  margin: 0 2rem 2rem;
}

.title {
  display: inline-block;
  font-size: 4em;
  font-weight: bold;
  color: darkgreen;
  animation: roll-in 2s ease-out;
  animation-fill-mode: forwards;
} 

/* Animation Styling for Cow and Bull */
@keyframes fall-from-top {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}


@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(8deg);
  }
  80% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.cow-animate {
  display: inline-block;
  animation: fall-from-top 2s ease-out forwards !important;
  /* animation: wiggle 0.5s ease-in-out infinite; */
}

.bull-animate {
  display: inline-block;
  animation: wiggle 0.5s ease-in-out infinite;
}

/* Stop the bull animation when the cow animation completes */
.cow-animate.done ~ .bull-animate {
  animation: none;
}

/* Animation styling ends */

.subtitle {
  font-size: 2em;
  font-weight: normal;
}

/* Game Rules Styling */
.rules-container {
  width: 80%;
  margin: 0 auto;
  background-color: #52b788;
  padding: 2rem 1.5rem 0 1.5rem;
  border-radius: 1rem;
}

.rules-container h3 {
  font-size: 3rem;
  text-align: center;
  text-decoration: underline;
  color: darkgreen;
  /* margin-bottom: 1rem; */
}

.rules-container ul {
  /* list-style-type: none; */
  list-style-position: outside;
  font-size: 1.5rem;
  padding: 1rem 2rem;
}

.rules-container li {
  margin: 0.5rem 0;
  text-indent: 1rem;
  text-align: justify;
  line-height: 3rem ;
}

.highlights {
  color: darkgreen;
  text-decoration: underline;
}

.start-button {
  display: block;
  margin: 1.5rem auto;
  padding: 1rem;
  background-color: #bf0603;
  color: white;
  font-size: 2rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1.1);
  }
}

.start-button:hover {
  animation-play-state: paused;
  background-color: darkgreen;
}

/* Modal Styling begins */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.4); 
}

.modal-dialog {
  background-color: #e27396;
  color: #fefefe;
  margin: 10rem auto;
  padding: 2.5rem;
  max-width: 32rem;
  width: 90%;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

.modal-header h2 {
  margin: 0;
  color: #fefefe;
}

.close-modal-button {
  font-size: 2.5rem;
  font-weight: bold;
  border: none;
  background: none;
  color: black;
  cursor: pointer;
}

.close-modal-button:hover,
.close-modal-button:focus {
  color: #aaa;
  text-decoration: none;
  cursor: pointer;
}

.modal-body {
  padding: 2rem;
}

.modal-body label {
  display: block;
  margin-bottom: 1rem;
  
}

.modal-body select {
  padding: .3rem;
  margin-bottom: 1.25rem;
}

.modal-footer {
  border-top: 1px solid #ddd;
  padding: 0.625rem 0 0 0;
  display: flex;
  justify-content: center;
}

.modal-footer .begin-button {
  padding: 1.25rem;
  border: none;
  border-radius: 1.25rem;
  font-size: 1.5rem;
}
.modal-footer .begin-button:hover {
  background-color: #ff477e;
  color:#fefefe;
  cursor: pointer;
 
}
.modal.open {
  display: block;
  overflow: hidden;
}

/* Modal styling ends */
/*
footer {
  display: none;
} */

/* Media queries */

@media only screen and (max-width: 1024px) {
  body {
    /* background-color: purple; */
    height: 100vh;
    width: 100vw;
    padding: 2rem 2rem 0 2rem;
  }
  
  .header-container {
    margin: 1.5rem 0 1rem;
    padding: 4rem;
  }

  .rules-container {
    width: 100%;
    padding: 3rem 2rem 2rem;
    margin-top: 3rem;
  }
  .rules-container h3 {
    margin-top:0.25rem;
  }
  .rules-container ul {
    padding: 2rem 1rem;
  }
  .rules-container li {
    font-size: 2rem;
    line-height: 3.25rem;
  }

  .start-button {
    margin: 4rem auto 6rem;
  }

}


/* Media queries for mobile screens */
@media only screen and (max-width: 768px) {

  .header-container {
    margin: 0 1rem 1rem;
    padding: 2rem;
  }
  .title {
    font-size: 3em;
  }
  .subtitle {
    font-size: 1.5em;
  }
  .rules-container {
    width: 100%;
    padding: 3rem;
  }
  .rules-container h3 {
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 1rem;
    padding-top: 0;
  }
  .rules-container ul {
    font-size: 1.2rem;
    padding: 0.5rem;
  }
  .rules-container li {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
  .start-button {
    font-size: 1.5rem;
    padding: 1rem;
  }
}

/* Media queries for small mobile screens */
@media only screen and (max-width: 480px) {
  body {
    /* background-color: palevioletred; */
    padding: 0;
    
  }
  .header-container {
    margin: 2rem 0;
    padding: 1rem 0.5rem;
    border-radius: 0;
  }
 
  .title {
    font-size: 2.5em;
  }
  .subtitle {
    font-size: 1.2em;
  }
  .rules-container {
    padding: 1rem 0.75rem;
    border-radius: 0;
  }
  .rules-container h3 {
    font-size: 2rem;
  }
  .rules-container ul {
    font-size: 1rem;
  }
  .rules-container li {
    font-size: 1rem;
    line-height: 1.85rem;
  }
  .start-button {
    font-size: 1.2rem;
    padding: 0.75rem;
    margin-top: 1.5rem;
  }
}

